@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
#contador {
font-size: 2em; /* Define o tamanho da fonte como 2 vezes o tamanho padrão */
margin-bottom: 10px; /* Adiciona uma margem externa de 10px na parte inferior do elemento */
text-align: center; /* Alinha o texto dentro do elemento ao centro horizontalmente */
color: white; /* Define a cor do texto */
}

#titulodevisita {
  font-size: large; /* Define o tamanho da fonte como "large", que é maior que o tamanho padrão */
  text-align:center; /* Alinha o texto dentro do elemento ao centro horizontalmente */
  color:rgb(235, 140, 17); /* Define a cor do texto */
  font-family: "Montserrat", sans-serif;
}

body {
    background-image: url('img/papel.jpg'); /* URL da imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a tela */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Evita que a imagem de fundo se repita */
    margin: 0; /* Remove a margem padrão do body */
    padding: 0; /* Remove o preenchimento padrão do body */
    font-family: Arial, sans-serif; /* Define a fonte padrão */
}
html, body {
height: 100%; /* Define que a altura do elemento será de 100% em relação ao seu elemento pai */
margin: 0; /* Remove qualquer margem externa ao redor do elemento */
padding: 0; /* Remove qualquer preenchimento interno dentro do elemento */
overflow: hidden; /* Remover a rolagem vertical e horizontal */
}

body
{
text-align: center; /* Alinha o texto ou conteúdo dentro do elemento ao centro horizontalmente */
}

#formulario
{    
margin-top: 500px; /* Adiciona um espaço de 500px no topo do elemento */
color: white; /* Define a cor do texto como branca */
    bottom: 20px; /*coloca o link do formulario na parte inferior da tela*/
    position: absolute; /* faz o link flutuar*/
    left: 50%; /* Move o link para a metade da tela */
    transform: translateX(-50%); /* Centraliza o link */
}

/* styles.css */

/* Cor do link normal */
a {
    color:rgb(31, 77, 228); /* Define a cor do texto */
    text-decoration: none; /* Remove o sublinhado padrão */
    transition: color 0.3s ease; /* Transição suave da cor */
    font-family: "Montserrat", sans-serif;
}