@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
h1 {
    text-align: center; /* Centraliza o texto dentro do elemento */
    color: #eee8e8; /* Define a cor do texto */
}

label {
display: block; /* Transforma o elemento em um bloco, ocupando toda a largura disponível */
margin: 15px 0 5px; /* Define margens: 15px acima, 0 à esquerda e direita, e 5px abaixo */
text-align: center;  /* Centraliza o texto dentro do elemento */
color:#eee8e8
}
input {
display: block; /* Transforma o elemento em um bloco, ocupando toda a largura disponível */
width: 30; /* Define a largura do elemento, mas falta a unidade (ex: px, %); deve ser algo como 'width: 30px;' */
margin: auto; /* Centraliza o elemento horizontalmente dentro do seu contêiner pai */
}

html, body {
    overflow: hidden; /* Remove ambas as rolagens */
}

body {
background-image: url(form.jpg); /* Define uma imagem de fundo a partir do arquivo 'form.jpg' */
background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
background-size: cover; /* Faz a imagem de fundo cobrir completamente o elemento, mantendo as proporções */
background-position: center; /* Centraliza a imagem de fundo no elemento */
margin: 0; /* Remove todas as margens do elemento */
padding: 0; /* Remove todo o preenchimento interno do elemento */
height: 100vh; /* Define a altura do elemento para 100% da altura da viewport */
}

button {
display: block; /* Define o elemento como um bloco, fazendo com que ocupe toda a largura disponível */
margin: auto; /* Centraliza o elemento horizontalmente em relação ao seu contêiner pai */
margin-top: 10px; /* Adiciona uma margem de 10 pixels na parte superior do elemento */
}
/* Estilo do resultado */
    .result {
        margin: 20px auto; /* Espaçamento acima e centraliza horizontalmente */
        padding: 10px; /* Espaçamento interno */
        width: 80%; /* Ajuste a largura conforme necessário */
        max-width: 200px; /* Limita a largura máxima */
        text-align: center; /* Centraliza o texto dentro do resultado */
        color: rgb(245, 242, 242); /* Define a cor do texto */
        background-color: rgba(246, 246, 247, 0); /* Cor de fundo com transparência */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para destaque */
        font-family: "Montserrat", sans-serif;
    }

